<div id="app">
  <div [ngClass]="{'poke-classic': classic}" class="container">

    <app-mode-selection></app-mode-selection>

    <app-guess></app-guess>

    <!-- <transition name="animate-section">
      <section v-if="isDone" class="poke-final">
        <h2>Final score</h2>
        <span class="poke-final-score">
          <span class="poke-final-score-number">{{ score }}</span>
          pts
        </span>
        <button class="button" @click="restartGame">Play again</button>
      </section>
    </transition>
     -->
  </div>